/**| css - commmon - container **/




    body {
        max-width:  80%;
        min-width:  420px;
        margin:     auto;
        -webkit-overflow-scrolling: touch;
    }




/** css - common - container |**/
