/** | css - content - error **/




    #error {
        height:             100%;
        width:              100%;
        overflow:           hidden;
        transition:         1.0s;
    }

    #error.hidden {
        height:             0px;
    }

    #error .title {
        position:           relative;
        top:                40%;
        transition:         0.5s;
        opacity:            1;
        padding:            0 0 0 5%;
        cursor:             pointer;
    }

    #error.hidden .title {
        position:           relative;
        opacity:            0;
        padding:            0;
    }

    #error .title h1 {
        font-size:          30px;
        vertical-align:     middle;
    }

    #error.hidden .title h1 {
    }

    #error .title h2 {
        margin:             5px 0 0 0;
        font-style:         italic;
        font-size:          12px;
    }

    #error .title:hover span {
        color:              #FFFFFF;
    }

    #error .title:hover #error-message {
        color:              rgb(34, 34, 34);
    }




/** css - content - error | **/
