/**| css - common - color **/



    body                                    {   background-color: rgb(34, 34, 34);  }


    .color-edit-background                  {   background-color: #F44336;          }
    .color-edit-text                        {              color: #FFFFFF;          }
    .color-edit-text-active                 {              color: #F44336;          }
    .color-edit-text-active:hover           {              color: #F44336;          }
    .color-edit-text-hover:hover            {              color: #F44336;          }


    .color-error-background                 {   background-color: #F44336;          }
    .color-error-text                       {              color: white;            }
    .color-error-text .t1                   {              color: rgb(34, 34, 34);  }
    .color-error-text .t2                   {              color: rgb(34, 34, 34);  }
    .color-error-text .t4                   {              color: rgb(34, 34, 34);  }


    .color-flash-background                 {   background-color: rgb(34, 34, 34);  }
    .color-flash-background-head            {   background-color: rgb(34, 34, 34);  }
    .color-flash-text-head                  {              color: #FFFFFF;          }
    .color-flash-text-count                 {              color: #F44336;          }
    .color-flash-toggle-message             {              color: #FFFFFF;          }
    .color-flash-toggle-message:hover       {              color: #6CCD6C;          }
    .color-flash-toggle-message-active      {              color: #F44336;          }
    .color-flash-toggle-love                {              color: #FFFFFF;          }
    .color-flash-toggle-love:hover          {              color: #2196F3;          }
    .color-flash-toggle-love-active         {              color: #2196F3;          }
    .color-flash-toggle-hide                {              color: #FFFFFF;          }
    .color-flash-toggle-hide:hover          {              color: #F44336;          }
    .color-flash-toggle-hide-active         {              color: #424242;          }


    .color-header-title:hover               {              color: #F44336;          }
    .color-header-title-active              {              color: #F44336;          }


    .color-input-background                 {   background-color: rgb(34, 34, 34);  }
    .color-input-text                       {              color: #FFFFFF;          }
    .color-input-text-active                {              color: #F44336;          }
    .color-input-text-hover:hover           {              color: #F44336;          }
    .color-input-text-invalid               {              color: #F44336;          }
    .color-input-text-valid                 {              color: #6CCD6C;          }


    .color-refresh-text-hover:hover         {              color: #2196F3;          }

    .color-toggle-inactive                  {              color: #212121;          }


    .color-welcome-text                     {              color: #FFFFFF;          }
    .color-welcome-text-active              {              color: #F44336;          }
    .color-welcome-text-hover:hover         {              color: #F44336;          }
    .color-welcome-background               {   background-color: rgb(34, 34, 34);  }




/** css - common - color |**/
