/** | css - content - dzm **/



        #dzm {
            overflow:       hidden;
            transition:     1s;
            width:          100%;
        }

        #dzm .dropzone {
            transition:     1s;
        }

        #dzm.hidden {
            height:         0%;
        }

        #dzm.hidden .dropzone {
            height:         0px;
            opacity:        0;
        }



/** css - content - dzm:x | **/
