/**| css - content - flash **/




        #flash {
            transition:         2s;
            color:              white;
            height:             50px;
            width:              100%;
            overflow:           hidden;
        }

        #flash.hidden {
            height:             0px;
            width:              100%;
            overflow:           hidden;
        }

        #flash .head {
            height:             50px;
            font-size:          15px;
            transition:         1s;
            width:              100%;
        }

        #flash .head .icon {
            font-size:          15px;
            transition:         1s;
            cursor:             pointer;
            user-select:        none;
        }

        #flash .head i {
            transition:         0.5s;
        }

        #flash .head .count {
            padding:            20px 0 0 80px;
            float:              left;
            cursor:             default;
        }

        #flash .head .toggle {
            padding:            20px 80px 0 0;
            float:              right;
        }

        #flash .head i.hidden {
            font-size:          0px;
        }


        #flash.message {
            height:             100%;
            width:              100%;
        }


        #flash.love {
            height:             100%;
            width:              100%;
            background:         url(../../img/bg/blm.png) no-repeat center center fixed;
            background-size:    cover;
    -webkit-background-size:    cover;
       -moz-background-size:    cover;
         -o-background-size:    cover;
            background-color:   #6CCD6C;
            transition:         1s;
        }

        #flash.love .head {
            background-color:   #6CCD6C;
            transition:         0.5s;
        }

        #flash.love .icon {
            margin:             50px 0 0 0;
            font-size:          24px;
            color:              #F44336;
            transition:         1s ease-out;
        }

        #flash.love i {
            color:              #2196F3;
        }

        #flash.love i:hover {
            color:              #FFFFFF;
        }

        #flash.love .count {
            margin:             50px 0 0 0;
            color:              #6CCD6C;
        }

        #flash .flash-text-hidden {
            font-size:          0px;
        }




/** css - content - flash |**/
