/** | css - content - urls **/




    #urls {
        margin:             40px auto;
        padding:            0px;
        text-align:         center;
        transition:         2s;
    }

    #urls .url {
        min-width:          400px;
        margin:             0px;
        padding:            0px;
        height:             300px;
        width:              40%;
        display:            inline-block;
        transition:         0.5s;
        border:             2px solid white;
        overflow:           hidden;
    }

    #urls .url:hover {
        border:             2px solid rgb(34,34,34);
    }

    #urls .url .letter {
        text-align:         right;
        font-size:          150px;
        padding:            25px 50px 25px 25px;
    }

    #urls .url .title {
        padding:            25px 25px 25px 50px;
        color:              rgb(34, 34, 34);
        height:             50px;
        text-align:         left;
        overflow:           hidden;
        font-size:          14px;
    }





    #urls .animate-appear {
        animation-name: animate-appear;
        animation-duration: 2.5s;
    }

    @keyframes animate-appear {
        from    { height: 0px;   }
        to      { height: 300px; }
    }



/** css - content - urls | **/
