/** | css - content - urls **/




    #urls {
        margin:             40px auto;
        padding:            0px;
        text-align:         center;
        transition:         2s;
    }

    #urls .url {
        min-width:          400px;
        margin:             0px;
        padding:            0px;
        height:             300px;
        width:              40%;
        display:            inline-block;
        transition:         0.5s;
        border:             2px solid white;
        overflow:           hidden;
    }

    #urls .url:hover {
        border:             2px solid rgb(34,34,34);
    }

    #urls .url .edit {
        height:             25px;
        background-color:   rgb(34, 34, 34);
        overflow:           hidden;
        transition:         0.75s;
    }

    #urls .url .edit.hidden {
        height:             0px;
    }

    #urls .url .icon {
        cursor:             pointer;
        padding:            0 2px 0 2px;
    }

    #urls .url .edit .left {
        float:              left;
        padding:            5px 5px 5px 10px;
    }

    #urls .url .edit .right {
        float:              right;
        padding:            5px 10px 5px 5px;
    }

    #urls .url .letter {
        text-align:         right;
        font-size:          150px;
        padding:            25px 50px 25px 25px;
    }

    #urls .url .title {
        padding:            25px 25px 25px 50px;
        color:              rgb(34, 34, 34);
        height:             50px;
        text-align:         left;
        overflow:           hidden;
        font-size:          14px;
    }




    #urls .animate-appear {
        animation-name: animate-appear;
        animation-duration: 2.5s;
    }

    @keyframes animate-appear {
        from    { height: 0px;   }
        to      { height: 300px; }
    }

    #urls .animate-disappear {
        animation-name: animate-disappear;
        animation-duration: 3s ease-out;
        animation-fill-mode: forwards;
    }

    @keyframes animate-disappear {
        0%      {
                    height:     300px;
                }
        80%     {
                    height:     0px;
                    min-width:  400px;
                    width:      40%;
                    border:     0px;
                }
        100%    {
                    height:     0px;
                    width:      0px;
                    min-width:  0px;
                    border:     0px;
                }
    }



/** css - content - urls | **/
