/**| css -- content -- input **/




    #input {
        height:     400px;
        overflow:   hidden;
        transition: 1.5s;
        width:      100%;
    }

    #input.hidden {
        height: 0px;
    }

    #input .spacer {
        width:      100%;
        height:     120px;
        transition: 1s;
    }

    #input.hidden .spacer {
        height:     0;
    }

    #input form {
        width:      80%;
        min-width:  400px;
        margin:     auto;
    }

    #input form input {
        height:         40%;
        min-height:     100px;
        width:          100%;
        padding:        0 5% 0 5%;
        font-size:      24px;
        transition:     1s;
        text-align:     left;
    }

    #input form #input-form-input-submit-real {
        display:        none;
    }

    #input form input.s2 {
        width:      80%;
    }

    #input form .submit {
        height:             40%;
        min-height:         100px;
        width:              0;
        float:              right;
        color:              #6CCD6C;
        background-color:   rgb(34, 34, 34);
        cursor:             pointer;
        user-select:        none;
        overflow:           hidden;
        transition:         1s;
    }

    #input form .submit i {
        font-size;          0px;
        transition:         0.5s;
        padding:            70px 0 70px 0;
        opacity:            0;
    }

    #input form .submit.s2 {
        height:             44%;
        min-height:         108px;
        width:              20%;
        background-color:   #6CCD6C;
        text-align:         center;
        transition:         1s;
    }

    #input form .submit.s2 i {
        color:              white;
        font-size:          40px;
        padding:            70px 0 70px 0;
        opacity:            1;
    }

    #input form .submit.s2:hover i {
        color:              #2196f3;
    }

    #input form .submit.s2:active, #input form .submit.s2.active {
        box-shadow:         inset 0 0 20px rgb(34, 34, 34);
        transition:         0.5s ease-out;
    }

    #input form .indicator {
        min-height:             0;
        height:                 0%;
        width:                  100%;
        transition:             1s;
    }

    #input form .indicator.s200 {
        background-color:       #6CCD6C;
        min-height:             8px;
        height:                 4%;
        width:                  80%;
    }

    #input form .indicator.s400 {
        background-color:       #F44336;
        min-height:             16px;
        height:                 6%;
        width:                  100%;
    }

    #input-form-input-indicator.active {
    }




/** css -- content -- input |**/
