/**| css -- content -- input **/




    #loading {
        height:                     2%;
        width:                      100%;
        overflow:                   hidden;
    }

    #loading.hidden {
        height:                     0%;
        width:                      100%;
    }

    #loading .progress {
        height:                     50%;
        width:                      100%;
        background-color:           rgb(34, 34, 34);
    }




/** css -- content -- input |**/
