/**| css - content - setting **/




    #setting {
        color:              white;
        height:             100%;
        margin:             10% auto 10% auto;
        overflow:           hidden;
        overflow-y:         auto;
        transition:         1s;
        width:              80%;
    }

    #setting.hidden {
        height:             0;
        margin:             0 auto 0 auto;
    }




    #setting .header {
        background-color:   whitesmoke;
        color:              #222222;
        padding:            15px 0 15px 0;
    }

    #setting .header > h1 {
        margin:             50px 50px 0 50px;;
        font-size:          28px;
        user-select:        none;
    }




    #setting .footer {
        background-color:   whitesmoke;
        color:              #222222;
        padding:            15px 0 15px 0;
    }




    #setting > div {
        background-color:   #2196f3;
        margin:             20px;
        padding:            5px 0 5px 80px;a
        width:              100%;
    }

    #setting > div .title h1 {
        font-size:          20px;
    }

    #setting > div .settings {
        margin:             25px 0 25px 0;
    }

    #setting > div .settings .box {
        height:             100px;
        width:              100px;
        overflow:           hidden;
        display:            inline-block;
    }

    #setting > div .settings .slider {
        color:              white;
        width:              90%;
        height:             40px;
        margin:             25px 0 0 0;
    }

    #setting > div .settings .slider label {
        color:              white;
    }




    #setting .upload .settings .box.complete {
        height:             300px;
        width:              300px;
    }

    #setting .upload .settings .box .icon {
        cursor:             pointer;
        display:            inline-block;
        float:              left;
        height:             50px;
        width:              100px;
        font-size:          40px;
        text-align:         center;
        margin:             30px 0 0 0;
        transition:         0.05s;
    }

    #setting .upload .settings .box .icon:hover {
        color:              #222222;
    }

    #setting .upload .settings .box .title {
        margin:             auto;
        display:            inline-block;
        text-align:         center;
    }

    #setting .upload .settings .box .title h2 {
        font-size:          16px;
    }

    #setting .upload .settings .dz-preview {
        display:            none;
    }




/**| css - content - setting **/
