/**| css - content - setting **/




    #setting {
        margin:             10% auto 10% auto;
        color:              white;
        height:             100%;
        width:              80%;
        transition:         1s;
        overflow:           hidden;
    }

    #setting.hidden {
        height:             0;
        margin:             0 auto 0 auto;
    }

    #setting > h1 {
        margin:             50px 50px 0 50px;;
        font-size:          42px;
        user-select:        none;
    }

    #setting .upload {
        padding:            50px 0 50px 75px;;
        border:             solid 1px #222222;
    }

    #setting .upload:hover {
        border:             solid 1px #FFFFFF;
    }

    #setting .upload .title {
        font-size:          21px;
    }

    #setting .upload .settings {
        margin:             25px 0 25px 0;
    }

    #setting .upload .settings .box {
        display:            inline-block;
        height:             100px;
        width:              100px;
        border:             solid 1px #222222;
        overflow:           hidden;
    }

    #setting .upload .settings .box:hover {
        border:             solid 1px #FFFFFF;
        width:              250px;
    }

    #setting .upload .settings .box.complete {
        height:             300px;
        width:              300px;
    }

    #setting .upload .settings .box .icon {
        cursor:             pointer;
        display:            inline-block;
        float:              left;
        height:             100px;
        width:              100px;
        font-size:          40px;
        text-align:         center;
        margin:             30px 0 0 0;
        transition:         0.05s;
    }

    #setting .upload .settings .box .title {
        display:            inline-block;
        float:              right;
        width:              100px;
        height:             100px;
        font-size:          20px;
        text-align:         left;
        padding:            30px 30px 0 0;
    }

    #setting .upload .settings .dz-preview {
        display:            none;
    }




/**| css - content - setting **/
