/** | css - content - urls **/




    #urls {
        margin:             auto;
        padding:            0px;
        text-align:         center;
        transition:         none;
    }

    #urls .url {
        height:             99%;
        width:              99%;
        padding:            0px;
        border:             3px solid rgb(34, 34, 34);
        overflow:           hidden;
        margin:             auto;
        transition:         none;
    }

    #urls .url img {
        transition:         none;
    }

    #urls .url:hover {
        border:             3px solid white;
    }

    #urls .url .edit {
        height:             25px;
        background-color:   rgb(34, 34, 34);
        overflow:           hidden;
    }

    #urls .url .edit.hidden {
        height:             0px;
    }

    #urls .url .void {
        padding:            0 5px 0 5px;
    }

    #urls .url .icon {
        cursor:             pointer;
        padding:            0 2px 0 2px;
    }

    #urls .url .edit .priority {
                      width:    30px;
        -webkit-user-select:    none; /* webkit (safari, chrome) browsers */
           -moz-user-select:    none; /* mozilla browsers */
         -khtml-user-select:    none; /* webkit (konqueror) browsers */
            -ms-user-select:    none; /* IE10+ */
    }

    #urls .url .edit .left {
        margin:             5px;
        float:              left;
    }

    #urls .url .edit .left span {
        display:            inline-block;
    }

    #urls .url .edit .right {
        margin:             5px;
        float:              right;
    }

    #urls .url .turl {
        text-align:         left;
        background-color:   rgb(34, 34, 34);
        color:              white;
        padding:            15px;
        text-overflow:      ellipsis;
        font-size:          20px;
    }

    #urls .url .turl.hidden {
        height:             0;
        overflow:           hidden;
        text-overflow:      clip;
        padding:            0;
    }

    #urls .url .dzm {
        height:             100%;
        width:              100%;
        overflow:           hidden;
    }

    #urls .url .dzm.hidden {
        height:             0;
    }

    #urls .url .dzm .dropzone {
        height:             100%;
        width:              100%;
    }

    #urls .url .default {
        height:             100%;
        overflow:           hidden;
    }

    #urls .url .default.hidden {
        height:             0;
        animation:          none;
        transition:         none;
    }

    #urls .url .default .letter {
        text-align:         right;
        font-size:          150px;
        padding:            25px 50px 25px 25px;
        height:             100%;
    }

    #urls .url .default .title {
        padding:            25px 25px 25px 50px;
        color:              rgb(34, 34, 34);
        height:             50px;
        text-align:         left;
        overflow:           hidden;
        font-size:          14px;
    }

    #urls .url .default.hidden .title {
        font-size:          0;
        height:             0;
        padding:            0;
    }

    #urls .url .img {
        height:                 100%;
        background-size:        cover;
        background-position:    50% 50%;
    }

    #urls .animate-appear {
        animation-name: animate-appear;
        animation-duration: 1.0s;
    }

    @keyframes animate-appear {
        from    {
                    height:         0;
                }
        to      {
                    height:         100%;
                }
    }

    #urls .animate-disappear {
        animation-name: animate-disappear;
        animation-duration: 3s ease-out;
        animation-fill-mode: forwards;
    }

    @keyframes animate-disappear {
        0%      {
                    width:      98%;
                    height:     100%;
                }
        100%    {
                    height:     0;
                    width:      0;
                    border:     0;
                }
    }




/** css - content - urls | **/
