/**| css - content - welcome **/




    #welcome {
        height:             100%;
        width:              94%;
        overflow:           hidden;
        transition:         0.75s;
        cursor:             pointer;
        margin:             auto;
    }

    #welcome.loading {
        height:             96%;
    }

    #welcome.bg {
        background:         url(../../img/welcome.img) no-repeat center center fixed;
        background-size:    cover;
        background-color:   rgb(34, 34, 34);
    }

    #welcome.hidden {
        height:             0;
    }

    #welcome span {
        transition:         1.0s;
    }

    #welcome .title {
        position:           absolute;
        top:                45%;
        left:               50%;
        transition:         1.5s;
        text-align:         center;
        transform:          translate(-50%, -50%);
        opacity:            1;
    }

    #welcome.hidden .title {
        position:           relative;
        opacity:            0;
    }

    #welcome .title h1 {
        font-size:          20px;
        transition:         0.5s;
        user-select:        none !important;
    }

    #welcome .title h1.hidden {
        font-size:          0px;
    }

    #welcome .title h1 .fixed {
        font-size:          20px !important;
        transition:         0.5s;
    }

    #welcome .title h1 .m {
        color:              #6ccd6c;
        font-size:          20px;
        transition:         2s ease-in;
    }

    #welcome .title h1.hidden .m {
        color:              #F44336;
        text-transform:     lowercase;
        font-size:          0px;
    }

    #welcome.hidden .title h1 {
        font-size:          0px;
    }

    #welcome .title h1 .nw {
        color:              #2196F3;
        transition:         1.5s ease-out;
        font-size:          40px;
    }

    #welcome .title h1.hidden .nw {
        font-size:          0px;
    }

    #welcome .title h1 .red {
        color:              #F44336;
    }




/**| css - content - welcome **/
