/*
 * | css/animation/welcome.css 
 *
 */




    /** | welcome - fade **/

        /** animation - welcome - fade **/
        @keyframes welcome-fade {
            0%      {
                        opacity:    0;
                    }
            100%    {
                        opacity:    0.5;
                    }
        }

        /** class - welcome - fade **/
        .animation-welcome-fade {
            animation-name:         welcome-fade;
            animation-duration:     10s ease-out;
        }

    /** welcome - fade | **/




/*
 *
 * css/animation/welcome.css |
 */
